html,body{
    height: 100%;
    margin:0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #abe7ab;
}
.background-img1{
    background-image: url(/img/flower4.png);
    min-height: 100%;
}
.background-img2{
    background-image: url(/img/flower3.png);
    min-height: 400px;
}
.background-img3{
    background-image: url(/img/flower2.png);
    min-height: 400px;
}
.background-img4{
    background-image: url(/img/flower5.jpeg);
    min-height: 400px;

}
.background-img4, .background-img2, 
.background-img3, .background-img1{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.paragraph-text{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 8px;
    text-transform: capitalize;
}
.text-Background{
    background-color: #ff0000;
    padding: 20px;
    border-radius: 8px;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: #b5ecb8;
    color: #ff0000;
    font-size: 25px;
}